{% extends "network/layout.html" %}

{% block body %}
<div class="create-post div-border">
    <h2>Create a New Post</h2>
    <form method="POST" action="{% url 'new-post' %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field }}
            </div>
        {% endfor %}
        <button class="btn btn-primary">Create</button>
    </form>
</div>
<div class="all-posts div-border">
    <h2>All Posts</h2>
    {% for post in all_posts %}
        <div class="post">
            <p><strong>{{ post.user.username }}</strong>  {{ post.post_date }}</p>
            <p>{{ post.post_text }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}