{% for post in posts %}
<div class="post" id="{{post.id}}">
    <div class="post-info">
        <p><strong><a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a></strong></p>
        <p>{{ post.post_date }}</p>
        {% if post.user.username == request.user.username %}
        <button id="btn-edit" class="btn btn-primary" data-id="{{post.id}}">Edit</button>
        {% endif%}
    </div>
    
    {% if post.user.username == request.user.username %}
    <form id="form_{{post.id}}" class="form-edit" data-id="{{post.id}}" method="POST" style="display: none;">
        <div class="form-group">
            <textarea id="txtarea_{{post.id}}" class="form-control"></textarea>
        </div>
        <button id="btn-form-save" class="btn btn-success" type="submit">Save</button>
    </form>
    {% endif %}
    <p id="post_{{post.id}}" class="post-p">{{ post.post_text }}</p>
    <div class="like">
        <svg class="btn-like" {% if post.id in liked_id %} style="fill: red;" {% else %} style="fill: grey;" {% endif %}data-id="{{ post.id }}"viewBox="0 0 24 24" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi"><g><path d="M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454 13.11-10.037 13.157H12z"></path></g></svg>
        <p id="like-count">{{post.like_count}}</p>
    </div>
</div>
{% endfor %}


