{% extends 'network/layout.html' %}

{% block body %}
<div class="header-profile div-border">
    <div class="name-follow">
        <p>{{other_user.username}}</p>
        {% if other_user.username != request.user.username %}
            {% if follow.button == "Follow"%}
                <form method="POST" action="{% url 'follow' other_user.id %}">
                    {% csrf_token %}
                    <button class="btn btn-primary">Follow</button>
                </form>
            {% else %}
                <form method="POST" action="{% url 'unfollow' other_user.id %}">
                    {% csrf_token %}
                    <button class="btn btn-primary">Unfollow</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
    <div class="follow-number">
        <p>{{ follow.followers_count }} followers</p>
        <p>{{ follow.following_count }} following</p>
    </div>
</div>
<div class="posts div-border">
    <h2>Posts</h2>
    {% include 'network/posts.html' %}
</div>
{% endblock %}