p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}
/* Layout */

.container{
    margin-top: 2%;
}

.posts{
    margin-top: 1%;
}

.posts h2{
    padding-bottom: 10px;
}

.post{
    border-top: 1px solid grey;
    padding: 20px 20px;
}

.post-info{
    display: flex;
    width: 100%;
    align-items: center;
    height: 50px;
}

.post-info p{
    padding-right: 1%;
}

.post-p{
    padding-top: 2px;
    padding-bottom: 1%;
}

#btn-form-save{
    margin-bottom: 1%;
}
/* Add border to div */

.div-border{
    padding: 2%;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Index Page */

svg{
    width: 1.25em;
}

.create-post h2{
    padding-bottom: 5px;
}

.like{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Profile */

.header-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-follow{
    display: flex;
    align-items: center;
    gap: 10px;
}

.name-follow p{
    font-size: 22px;
}

.follow-number{
    display: flex;
    align-items: center;
    gap: 5px;
}
